flows/ABM_Reengagement.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Retention_Period</name>
        <label>Check for Retention Period</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>X180_Days_and_548_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceLost</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>548.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysSinceLost</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_0</targetReference>
            </connector>
            <label>&gt; 180 Days and &lt;= 548 Days</label>
        </rules>
        <rules>
            <name>X548_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceLost</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>548.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>&gt; 548 Days</label>
        </rules>
    </decisions>
    <formulas>
        <name>DaysSinceLost</name>
        <dataType>Number</dataType>
        <expression>Today() - {!$Record.Lost_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ABm Reengagement Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ABM Reengagement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Type_and_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDonContact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_0</name>
        <label>Get Account</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDonContact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Type</name>
        <label>Update Account Type</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDonContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABM</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Type_and_Owner</name>
        <label>Update Account Type and Owner</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDonContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>InboundSDR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDR_Owner__c</field>
            <value>
                <elementReference>InboundSDR</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Retention_Period</targetReference>
        </connector>
        <filterLogic>((1 OR 2) AND (3 AND 4))</filterLogic>
        <filters>
            <field>Account_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lost_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountIDonContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Account.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>InboundSDR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0050K00000BQdcGQAT</stringValue>
        </value>
    </variables>
</Flow>
