flows/Account_from_G2_Visiting_Organization.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Fix_variable_types</name>
        <label>Fix variable types</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>G2EmployeesasNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Americas_Enterprise_or_Emerging</name>
        <label>Americas Enterprise or Emerging</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Americas Emerging</defaultConnectorLabel>
        <rules>
            <name>AmericasEnterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Just_Created.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <label>Americas Enterprise</label>
        </rules>
    </decisions>
    <decisions>
        <name>APAC_Enterprise_or_Emerging</name>
        <label>APAC Enterprise or Emerging</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>APAC_Emerging_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>APAC Emerging</defaultConnectorLabel>
        <rules>
            <name>APACEnterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Just_Created.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <label>APAC Enterprise</label>
        </rules>
    </decisions>
    <decisions>
        <name>EMEA_Enterprise_or_Emerging</name>
        <label>EMEA Enterprise or Emerging</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>EMEA Emerging</defaultConnectorLabel>
        <rules>
            <name>EMEA_Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Just_Created.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <label>EMEA Enterprise</label>
        </rules>
    </decisions>
    <decisions>
        <name>Geography_Split</name>
        <label>Geography Split</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Americas_Enterprise_or_Emerging</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Americas</defaultConnectorLabel>
        <rules>
            <name>APAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Just_Created.Geography__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_Enterprise_or_Emerging</targetReference>
            </connector>
            <label>APAC</label>
        </rules>
        <rules>
            <name>EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Just_Created.Geography__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_Enterprise_or_Emerging</targetReference>
            </connector>
            <label>EMEA</label>
        </rules>
    </decisions>
    <formulas>
        <name>EnterpriseOrEmergingAccountType</name>
        <dataType>String</dataType>
        <expression>IF(({!Employees}&gt;=10000)||
(({!Employees}&gt;=5000)&amp;&amp;(Contains({!Get_G2_Visiting_Org.G2Crowd__Industry_Group__c},&quot;ealth&quot;)||Contains({!Get_G2_Visiting_Org.G2Crowd__Industry_Group__c},&quot;ospital&quot;)))||
Contains({!Get_G2_Visiting_Org.G2Crowd__Industry_Group__c},&quot;inanc&quot;)||
Contains({!Get_G2_Visiting_Org.G2Crowd__Industry_Group__c},&quot;Bank&quot;)||
Contains({!Get_G2_Visiting_Org.G2Crowd__Industry_Group__c},&quot;Insurance&quot;)
,&quot;Enterprise&quot;,&quot;Emerging Market&quot;)</expression>
    </formulas>
    <formulas>
        <name>G2EmployeesasNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Get_G2_Visiting_Org.G2Crowd__Employees__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LinkedIn_URL_Builder</name>
        <dataType>String</dataType>
        <expression>&quot;linkedin.com/&quot; &amp; {!Get_G2_Visiting_Org.G2Crowd__LinkedIn__c}</expression>
    </formulas>
    <formulas>
        <name>RevenueAsCurrency</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Get_G2_Visiting_Org.G2Crowd__Revenue__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Account from G2 Visiting Organization {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account from G2 Visiting Organization</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>G2</description>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Account_Just_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountSource</field>
            <value>
                <stringValue>G2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <elementReference>EnterpriseOrEmergingAccountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>RevenueAsCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_G2_Visiting_Org.G2Crowd__Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_G2_Visiting_Org.G2Crowd__Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_G2_Visiting_Org.G2Crowd__State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_G2_Visiting_Org.G2Crowd__Street_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_LinkedIn_URL__c</field>
            <value>
                <elementReference>LinkedIn_URL_Builder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_G2_Visiting_Org.G2Crowd__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Get_G2_Visiting_Org.G2Crowd__Industry_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_G2_Visiting_Org.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>G2EmployeesasNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Get_G2_Visiting_Org.G2Crowd__Domain__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Just_Created</name>
        <label>Get Account Just Created</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Geography_Split</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Geography__c</queriedFields>
        <queriedFields>Account_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_G2_Visiting_Org</name>
        <label>Get G2 Visiting Org</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fix_variable_types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>G2Crowd__G2_Visiting_Organization__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>G2Crowd__Industry__c</queriedFields>
        <queriedFields>G2Crowd__City__c</queriedFields>
        <queriedFields>G2Crowd__Country__c</queriedFields>
        <queriedFields>G2Crowd__Description__c</queriedFields>
        <queriedFields>G2Crowd__Domain__c</queriedFields>
        <queriedFields>G2Crowd__Employees__c</queriedFields>
        <queriedFields>G2Crowd__LinkedIn__c</queriedFields>
        <queriedFields>G2Crowd__Logo__c</queriedFields>
        <queriedFields>G2Crowd__Revenue__c</queriedFields>
        <queriedFields>G2Crowd__State__c</queriedFields>
        <queriedFields>G2Crowd__Sub_Industry__c</queriedFields>
        <queriedFields>G2Crowd__Street_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>G2Crowd__Postal_Code__c</queriedFields>
        <queriedFields>G2Crowd__Industry_Group__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>APAC_Emerging_Assignment</name>
        <label>APAC Emerging Assignment</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0056F00000BziIXQAZ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDR_Owner__c</field>
            <value>
                <stringValue>0050K000009PU3NQAW</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_G2_Visiting_Org</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Employees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
