flows/Campaign_Member_Statuses_Assignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>ABM</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ABM</stringValue>
        </value>
    </constants>
    <constants>
        <name>Attended</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Attended</stringValue>
        </value>
    </constants>
    <constants>
        <name>AttendedScanned</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Attended / Scanned</stringValue>
        </value>
    </constants>
    <constants>
        <name>Clicked</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Clicked</stringValue>
        </value>
    </constants>
    <constants>
        <name>ClickedConnected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Clicked / Connected</stringValue>
        </value>
    </constants>
    <constants>
        <name>Connected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Connected</stringValue>
        </value>
    </constants>
    <constants>
        <name>ContentMarketing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Content Marketing</stringValue>
        </value>
    </constants>
    <constants>
        <name>Converted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Converted</stringValue>
        </value>
    </constants>
    <constants>
        <name>CustomerMarketing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Marketing</stringValue>
        </value>
    </constants>
    <constants>
        <name>DigitalMarketing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital Marketing</stringValue>
        </value>
    </constants>
    <constants>
        <name>EmailMarketing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Marketing</stringValue>
        </value>
    </constants>
    <constants>
        <name>Engaged</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Engaged</stringValue>
        </value>
    </constants>
    <constants>
        <name>EventMarketing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Event Marketing</stringValue>
        </value>
    </constants>
    <constants>
        <name>GeneralMarketing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>General Marketing</stringValue>
        </value>
    </constants>
    <constants>
        <name>Invited_Preshow</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Invited / Preshow</stringValue>
        </value>
    </constants>
    <constants>
        <name>NoActivity</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Activity</stringValue>
        </value>
    </constants>
    <constants>
        <name>NoShow</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Show</stringValue>
        </value>
    </constants>
    <constants>
        <name>NotEngaged</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Engaged</stringValue>
        </value>
    </constants>
    <constants>
        <name>NotSent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Sent</stringValue>
        </value>
    </constants>
    <constants>
        <name>NotSentAttendeeList</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Sent / Attendee List</stringValue>
        </value>
    </constants>
    <constants>
        <name>NotSentNoActivity</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Sent/No Activity</stringValue>
        </value>
    </constants>
    <constants>
        <name>Opened</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Opened</stringValue>
        </value>
    </constants>
    <constants>
        <name>Outbound</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound</stringValue>
        </value>
    </constants>
    <constants>
        <name>Posted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Posted</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProductMarketing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Marketing</stringValue>
        </value>
    </constants>
    <constants>
        <name>Registered</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Registered</stringValue>
        </value>
    </constants>
    <constants>
        <name>Responded</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Responded</stringValue>
        </value>
    </constants>
    <constants>
        <name>Sent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent</stringValue>
        </value>
    </constants>
    <constants>
        <name>SentPosted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent/Posted</stringValue>
        </value>
    </constants>
    <constants>
        <name>SentPostedCalled</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent / Posted / Called</stringValue>
        </value>
    </constants>
    <constants>
        <name>Unsubscribed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Unsubscribed</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check Record Type</description>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>1106</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Not_Engaged_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Campaign</defaultConnectorLabel>
        <rules>
            <name>ABM_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ABM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Activity_1</targetReference>
            </connector>
            <label>ABM</label>
        </rules>
        <rules>
            <name>Content_Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContentMarketing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Posted_1</targetReference>
            </connector>
            <label>Content Marketing</label>
        </rules>
        <rules>
            <name>Customer_Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerMarketing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connected_1</targetReference>
            </connector>
            <label>Customer Marketing</label>
        </rules>
        <rules>
            <name>Digital_Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DigitalMarketing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clicked_2</targetReference>
            </connector>
            <label>Digital Marketing</label>
        </rules>
        <rules>
            <name>Event_Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EventMarketing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Sent_Attendee_List</targetReference>
            </connector>
            <label>Event Marketing</label>
        </rules>
        <rules>
            <name>Email_Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailMarketing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Sent</targetReference>
            </connector>
            <label>Email Marketing</label>
        </rules>
        <rules>
            <name>Outbound_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Outbound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Activity</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
        <rules>
            <name>Product_Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProductMarketing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clicked_4</targetReference>
            </connector>
            <label>Product Marketing</label>
        </rules>
    </decisions>
    <description>Campaign Member Statuses Assignment based on Record Types.</description>
    <interviewLabel>Campaign Member Status Assignment based on Record Types. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Member Statuses Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Attended_Scanned_1</name>
        <label>Attended / Scanned</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>No_Show</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>AttendedScanned</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Clicked_1</name>
        <label>Clicked</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Converted_2</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Clicked</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Clicked_2</name>
        <label>Clicked</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Converted_3</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Clicked</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Clicked_3</name>
        <label>Clicked</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Converted_5</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Clicked</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Clicked_4</name>
        <label>Clicked</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Converted_7</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Clicked</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Clicked_Connected_1</name>
        <label>Clicked / Connected</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Sent_Posted_Called_1</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>ClickedConnected</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Clicked_Connected_2</name>
        <label>Clicked / Connected</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Sent_Posted_Called_2</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>ClickedConnected</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Connected_1</name>
        <label>Connected</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Converted_4</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Connected</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Converted_1</name>
        <label>Converted</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Sent_1</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Converted</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Converted_2</name>
        <label>Converted</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Sent_2</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Converted</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Converted_3</name>
        <label>Converted</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Posted_2</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Converted</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Converted_4</name>
        <label>Converted</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Responded_3</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Converted</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Converted_5</name>
        <label>Converted</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Unsubscribed_1</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Converted</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Converted_6</name>
        <label>Converted</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Sent_5</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Converted</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Converted_7</name>
        <label>Converted</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Responded_8</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Converted</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Engaged_1</name>
        <label>Engaged</label>
        <locationX>2162</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Sent_6</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Engaged</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Invited_Preshow_1</name>
        <label>Invited / Preshow</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Registered_2</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Invited_Preshow</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>No_Activity</name>
        <label>No Activity</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Clicked_Connected_2</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>NoActivity</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>No_Activity_1</name>
        <label>No Activity</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Clicked_Connected_1</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>NoActivity</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>No_Show</name>
        <label>No Show</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Sent_4</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>NoShow</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Not_Engaged_1</name>
        <label>Not Engaged</label>
        <locationX>2162</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Engaged_1</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>NotEngaged</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Not_Sent</name>
        <label>Not Sent</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Opened_1</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>NotSent</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Not_Sent_Attendee_List</name>
        <label>Not Sent / Attendee List</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Invited_Preshow_1</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>NotSentAttendeeList</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Opened_1</name>
        <label>Opened</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Clicked_3</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Opened</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Posted_1</name>
        <label>Posted</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Clicked_1</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Posted</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Posted_2</name>
        <label>Posted</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Sent_3</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Posted</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Registered_2</name>
        <label>Registered</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Attended_Scanned_1</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Registered</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Sent_Posted_Called_1</name>
        <label>Sent / Posted / Called</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Converted_1</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>SentPostedCalled</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Sent_Posted_Called_2</name>
        <label>Sent / Posted / Called</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Converted_6</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>SentPostedCalled</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Unsubscribed_1</name>
        <label>Unsubscribed</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Responded_6</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Unsubscribed</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Responded_1</name>
        <label>Responded</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Responded</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Responded_2</name>
        <label>Responded</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Responded</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Responded_3</name>
        <label>Responded</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Responded</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Responded_4</name>
        <label>Responded</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Responded</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Responded_5</name>
        <label>Responded</label>
        <locationX>1106</locationX>
        <locationY>1175</locationY>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Responded</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Responded_6</name>
        <label>Responded</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Responded</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Responded_7</name>
        <label>Responded</label>
        <locationX>1634</locationX>
        <locationY>1055</locationY>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Responded</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Responded_8</name>
        <label>Responded</label>
        <locationX>1898</locationX>
        <locationY>695</locationY>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Responded</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Responded_9</name>
        <label>Responded</label>
        <locationX>2162</locationX>
        <locationY>815</locationY>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Responded</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Sent_1</name>
        <label>Sent</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Responded_1</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sent</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Sent_2</name>
        <label>Sent</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Responded_2</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sent</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Sent_3</name>
        <label>Sent</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Responded_4</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sent</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Sent_4</name>
        <label>Sent</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Responded_5</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sent</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Sent_5</name>
        <label>Sent</label>
        <locationX>1634</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Responded_7</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sent</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Sent_6</name>
        <label>Sent</label>
        <locationX>2162</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Responded_9</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sent</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
