flows/Create_Library_Import_Wizard.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_files_uploaded</name>
        <label>Count files uploaded</label>
        <locationX>938</locationX>
        <locationY>729</locationY>
        <assignmentItems>
            <assignToReference>totalFilesUploaded</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>uploadedDocumentIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Document_Uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Allowed_Files_To_Excel</name>
        <label>Set Allowed Files To Excel</label>
        <locationX>822</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>AcceptedFileFormats</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>.xls,.xlsx</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Allowed_Files_To_Word</name>
        <label>Set Allowed Files To Word</label>
        <locationX>514</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>AcceptedFileFormats</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>.doc,.docx</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Document_Uploaded</name>
        <label>Check Document Uploaded</label>
        <locationX>664</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>RedirectScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Document_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalFilesUploaded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>File_Upload</targetReference>
            </connector>
            <label>No Document uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Allowed_File_Types</name>
        <label>Set Allowed File Types</label>
        <locationX>657</locationX>
        <locationY>397</locationY>
        <defaultConnector>
            <targetReference>Set_Allowed_Files_To_Word</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Source_Type_Excel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Allowed_Files_To_Excel</targetReference>
            </connector>
            <label>Source Type Excel</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Source_Type_Resource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>avnio__SourceType__c</picklistField>
        <picklistObject>avnio__LibraryImport__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Library Import Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Library Import Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Library_Import</name>
        <label>Insert Library Import</label>
        <locationX>665</locationX>
        <locationY>208</locationY>
        <assignRecordIdToReference>libImportRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Allowed_File_Types</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Library_Import_Name_txt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>avnio__SourceType__c</field>
            <value>
                <elementReference>Source_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>avnio__Source__c</field>
            <value>
                <elementReference>Source_txt</elementReference>
            </value>
        </inputAssignments>
        <object>avnio__LibraryImport__c</object>
    </recordCreates>
    <screens>
        <description>Screen to guide user for creating Library Import and importing file related to record</description>
        <name>Create_Library_Import_Screen</name>
        <label>Create Library Import</label>
        <locationX>371</locationX>
        <locationY>176</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Insert_Library_Import</targetReference>
        </connector>
        <fields>
            <name>Library_Import_Name_txt</name>
            <dataType>String</dataType>
            <fieldText>Library Import Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Source_Type</name>
            <choiceReferences>Source_Type_Resource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Source_txt</name>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_Upload</name>
        <label>File Upload</label>
        <locationX>673</locationX>
        <locationY>627</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_files_uploaded</targetReference>
        </connector>
        <fields>
            <name>FileUploadMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;File upload is mandatory&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>totalFilesUploaded</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LibraryImportFileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>File Upload for {!Library_Import_Name_txt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <elementReference>AcceptedFileFormats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>libImportRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>uploadedDocumentIDs</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RedirectScreen</name>
        <label>RedirectScreen</label>
        <locationX>492</locationX>
        <locationY>800</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedirectButton</name>
            <extensionName>avnio:AvnioNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <stringValue>/apex/avnio__LibraryImportPage?id={!libImportRecordId}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>545</locationX>
        <locationY>88</locationY>
        <connector>
            <targetReference>Create_Library_Import_Screen</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AcceptedFileFormats</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>libImportRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalFilesUploaded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>uploadedDocumentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
