flows/Create_a_record_and_Log_a_Ticket_for_Presales_Support_Enhancement_IT.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send an email alert to ARM Support when the Issue logged is in &quot;ARM&quot;, CodeScan&quot;, &quot;Mulesoft&quot;, or RBM&quot;.</description>
        <name>Notify_ARM_Support</name>
        <label>Notify ARM Support</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>Presales__c.Notify_ARM_Support_for_Presales_Issues</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Clear_Ticket_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Presales__c.Notify_ARM_Support_for_Presales_Issues</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send an email alert to the IT Help Desk if the issue logged is in &quot;IT&quot;.</description>
        <name>Notify_IT_Help_Desk</name>
        <label>Notify IT Help Desk</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <actionName>Presales__c.Notify_IT_Help_Desk_for_Presales_Issues</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Clear_Ticket_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Presales__c.Notify_IT_Help_Desk_for_Presales_Issues</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send an email alert to PMT Support if the feature request/enhancement logged in is in &quot;PMT&quot;.</description>
        <name>Notify_PMT</name>
        <label>Notify PMT</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>Presales__c.Notify_PMT_for_Presales_Feature_Requests</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Clear_Ticket_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Presales__c.Notify_PMT_for_Presales_Feature_Requests</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send an email alert to Vault Support when the Issue logged is in &quot;Vault&quot;.</description>
        <name>Notify_Vault_Support</name>
        <label>Notify Vault Support</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>Presales__c.Notify_Vault_Support_for_Presales_Issues</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Clear_Ticket_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Presales__c.Notify_Vault_Support_for_Presales_Issues</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Bypass_Validation_Rule</name>
        <label>Bypass Validation Rule</label>
        <locationX>644</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bypass_Validation_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_a_Ticket_With</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Ticket_Details</name>
        <label>Clear Ticket Details</label>
        <locationX>644</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Log_a_Ticket_with__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Issue_Enhancement_in__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product_Instance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Label_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Module__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Deal_Size__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Issue_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Feature_Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bypass_Validation_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Issue_in_Vault_or_Other_Products</name>
        <label>Issue in Vault or Other Products?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Notify_ARM_Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ARM/CodeScan/Mulesoft/RBM</defaultConnectorLabel>
        <rules>
            <name>Vault</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue_Enhancement_in__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vault</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Vault_Support</targetReference>
            </connector>
            <label>Vault</label>
        </rules>
    </decisions>
    <decisions>
        <name>Log_a_Ticket_With</name>
        <label>Log a Ticket With</label>
        <locationX>644</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Clear_Ticket_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Log_a_Ticket_with__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_Enhancement_in__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Support_Ticket</targetReference>
            </connector>
            <label>Support</label>
        </rules>
        <rules>
            <name>PMT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Log_a_Ticket_with__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PMT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_Enhancement_in__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Feature_Request</targetReference>
            </connector>
            <label>PMT</label>
        </rules>
        <rules>
            <name>IT_Help_Desk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Log_a_Ticket_with__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT Help Desk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_Enhancement_in__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_IT_Ticket</targetReference>
            </connector>
            <label>IT Help Desk</label>
        </rules>
    </decisions>
    <description>Create a record and Log a Ticket for Presales Support/Enhancement/IT.</description>
    <environments>Default</environments>
    <interviewLabel>Create a record and Log a Ticket for Presales Support/Enhancement/IT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a record and Log a Ticket for Presales Support/Enhancement/IT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Feature_Request</name>
        <label>Create Feature Request</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Notify_PMT</targetReference>
        </connector>
        <inputAssignments>
            <field>Deal_Size__c</field>
            <value>
                <elementReference>$Record.Deal_Size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enhancement_In__c</field>
            <value>
                <elementReference>$Record.Issue_Enhancement_in__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enhancement_Logged__c</field>
            <value>
                <elementReference>$Record.Log_a_Ticket_with__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feature_Request_Description__c</field>
            <value>
                <elementReference>$Record.Feature_Request_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label_Names__c</field>
            <value>
                <elementReference>$Record.Label_Names__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module__c</field>
            <value>
                <elementReference>$Record.Module__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Presales_Number__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Instance__c</field>
            <value>
                <elementReference>$Record.Product_Instance_if_any__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Version__c</field>
            <value>
                <elementReference>$Record.Product_Version_if_any__c</elementReference>
            </value>
        </inputAssignments>
        <object>Presales_Enhancement_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_IT_Ticket</name>
        <label>Create IT Ticket</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Notify_IT_Help_Desk</targetReference>
        </connector>
        <inputAssignments>
            <field>Issue_Description__c</field>
            <value>
                <elementReference>$Record.Issue_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_In__c</field>
            <value>
                <elementReference>$Record.Issue_Enhancement_in__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Logged__c</field>
            <value>
                <elementReference>$Record.Log_a_Ticket_with__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label_Names__c</field>
            <value>
                <elementReference>$Record.Label_Names__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module__c</field>
            <value>
                <elementReference>$Record.Module__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Presales_Number__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Instance__c</field>
            <value>
                <elementReference>$Record.Product_Instance_if_any__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Version__c</field>
            <value>
                <elementReference>$Record.Product_Version_if_any__c</elementReference>
            </value>
        </inputAssignments>
        <object>Presales_IT_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Support_Ticket</name>
        <label>Create Support Ticket</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Issue_in_Vault_or_Other_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Issue_Description__c</field>
            <value>
                <elementReference>$Record.Issue_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_In__c</field>
            <value>
                <elementReference>$Record.Issue_Enhancement_in__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Logged__c</field>
            <value>
                <elementReference>$Record.Log_a_Ticket_with__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label_Names__c</field>
            <value>
                <elementReference>$Record.Label_Names__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module__c</field>
            <value>
                <elementReference>$Record.Module__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Presales_Number__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Instance__c</field>
            <value>
                <elementReference>$Record.Product_Instance_if_any__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Version__c</field>
            <value>
                <elementReference>$Record.Product_Version_if_any__c</elementReference>
            </value>
        </inputAssignments>
        <object>Presales_Support_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Validation_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Log_a_Ticket_with__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Presales__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
