flows/G2_Title_by_product_Update_on_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>G2_Title_By_Product</name>
        <label>G2 Title By Product</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.G2_Title_by_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.G2_Title_by_Product__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_G2_Title_by_Poduct</name>
        <label>Update G2 Title by Poduct</label>
        <locationX>440</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.G2_Title_by_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewG2TitlebyProduct</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>G2_Title_by_Product_on_Account</name>
        <label>G2 Title by Product on Account</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_G2_Title_by_Poduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.G2_Title_by_Product__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.G2_Title_by_Product__c</elementReference>
                </rightValue>
            </conditions>
            <label>Exists</label>
        </rules>
        <rules>
            <name>BLANK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.G2_Title_by_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>G2_Title_By_Product</targetReference>
            </connector>
            <label>BLANK</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewG2TitlebyProduct</name>
        <dataType>String</dataType>
        <expression>{!Get_Account.G2_Title_by_Product__c} + &quot;; &quot; +  {!$Record.G2_Title_by_Product__c}</expression>
    </formulas>
    <interviewLabel>G2 Title by product Update on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>G2 Title by product Update on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>G2_Title_by_Product_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.G2Crowd__Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <object>G2Crowd__G2_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentG2TitlebyProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Account.G2_Title_by_Product__c</elementReference>
        </value>
    </variables>
</Flow>
