flows/Lead_Rating.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Rate_as_Cold</name>
        <label>Rate as Cold</label>
        <locationX>2690</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Rate_as_Hot</name>
        <label>Rate as Hot</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Rate_as_Hot_0</name>
        <label>Rate as Hot</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Rate_as_Hot_0_0</name>
        <label>Rate as Hot</label>
        <locationX>1634</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Rate_as_Not_Ready</name>
        <label>Rate as Not Ready</label>
        <locationX>3218</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Ready</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Rate_as_Warm</name>
        <label>Rate as Warm</label>
        <locationX>1106</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Rate_as_Warm_0</name>
        <label>Rate as Warm</label>
        <locationX>2162</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>GradeA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A</stringValue>
        </value>
    </constants>
    <constants>
        <name>GradeB</name>
        <dataType>String</dataType>
        <value>
            <stringValue>B</stringValue>
        </value>
    </constants>
    <constants>
        <name>GradeC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>C</stringValue>
        </value>
    </constants>
    <constants>
        <name>GradeD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>D</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Lead_Status</name>
        <label>Check for Lead Status</label>
        <locationX>1370</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Check_for_Pardot_Grade_Score_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1-Lead</defaultConnectorLabel>
        <rules>
            <name>MQL_and_Above</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4-MQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5-Intro Call Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6-Intro Call Held</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rated_as_Hot_Already</targetReference>
            </connector>
            <label>MQL and Above</label>
        </rules>
        <rules>
            <name>Prospect_Subscriber_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2-Subscriber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3-Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Pardot_Grade_Score</targetReference>
            </connector>
            <label>Prospect/Subscriber</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Pardot_Grade_Score</name>
        <label>Check for Pardot Grade/Score</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Rated_as_Warm_Already</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Warm</defaultConnectorLabel>
        <rules>
            <name>Hot</name>
            <conditionLogic>(1 AND (2 OR 3))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pi__score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__grade__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>GradeA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__grade__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>GradeB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rated_as_Hot_Already_0</targetReference>
            </connector>
            <label>Hot</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Pardot_Grade_Score_0</name>
        <label>Check for Pardot Grade/Score</label>
        <locationX>2558</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Rated_as_Not_Ready_Already</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Ready</defaultConnectorLabel>
        <rules>
            <name>Hot_0</name>
            <conditionLogic>((1 OR 2) AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pi__grade__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>GradeA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__grade__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>GradeB</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rated_as_Hot_Already_0_0</targetReference>
            </connector>
            <label>Hot</label>
        </rules>
        <rules>
            <name>Warm_0</name>
            <conditionLogic>(((1 OR 2 ) AND 3 AND 4) OR (5 AND 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pi__grade__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>GradeA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__grade__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>GradeB</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__grade__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>GradeC</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rated_as_Warm_Already_0</targetReference>
            </connector>
            <label>Warm</label>
        </rules>
        <rules>
            <name>Cold_0_0</name>
            <conditionLogic>((1 AND 2 AND (3  OR 4)) OR (1 AND 5 AND 6 ) OR (7 AND 8))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pi__score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__grade__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>GradeA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__grade__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>GradeB</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__grade__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>GradeC</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pi__grade__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>GradeD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rated_as_Cold_Already</targetReference>
            </connector>
            <label>Cold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rated_as_Cold_Already</name>
        <label>Rated as Cold Already?</label>
        <locationX>2822</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not_Rated_as_Cold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;Cold&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rate_as_Cold</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rated_as_Hot_Already</name>
        <label>Rated as Hot Already?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not_Rated_as_Hot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;Hot&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rate_as_Hot</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rated_as_Hot_Already_0</name>
        <label>Rated as Hot Already?</label>
        <locationX>710</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not_Rated_as_Hot_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;Hot&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rate_as_Hot_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rated_as_Hot_Already_0_0</name>
        <label>Rated as Hot Already?</label>
        <locationX>1766</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not_Rated_as_Hot_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;Hot&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rate_as_Hot_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rated_as_Not_Ready_Already</name>
        <label>Rated as Not Ready Already?</label>
        <locationX>3350</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NotRatedasNotReady</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;Not Ready&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rate_as_Not_Ready</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rated_as_Warm_Already</name>
        <label>Rated as Warm Already?</label>
        <locationX>1238</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not_Rated_as_Warm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;Warm&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rate_as_Warm</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rated_as_Warm_Already_0</name>
        <label>Rated as Warm Already?</label>
        <locationX>2294</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not_Rated_as_Warm_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;Warm&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rate_as_Warm_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Lead Rating Based on Pardot Score, Pardot Grade, and Lead Status</description>
    <interviewLabel>Lead Rating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Rating</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Lead_Status</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
