flows/Opportunity_Product_Set_Recurring.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_OP_Family</name>
        <label>Set OP Family</label>
        <locationX>133</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>$Record.ProductFamily__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Family</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Product.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recurring_True</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Type_Equals_Recurring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OP_Recurring_False</name>
        <label>Set OP Recurring False</label>
        <locationX>514</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>$Record.Recurring_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_OP_Recurring_True</name>
        <label>Set OP Recurring True</label>
        <locationX>91</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>$Record.Recurring_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Product_Type_Equals_Recurring</name>
        <label>Product Type Equals Recurring</label>
        <locationX>301</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Set_OP_Recurring_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recurring_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OP_Recurring_True</targetReference>
            </connector>
            <label>Recurring True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Product Set Recurring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product Set Recurring - V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>138</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_OP_Family</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Type__c</queriedFields>
        <queriedFields>Family</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
