flows/Orum_Activity_No_Longer_with_the_Company.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Lead_Contact</name>
        <label>Lead/Contact</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Nne</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Stage_Lost_Reaso</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Stage_Lost_Reason</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Orum Activity No Longer with the Company {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orum Activity No Longer with the Company</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact_Stage_Lost_Reason</name>
        <label>Update Contact Stage &amp; Lost Reason</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lost_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Changed Organization</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Disposition__c</field>
            <value>
                <elementReference>$Record.Call_Disposition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Stage__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_Reason__c</field>
            <value>
                <stringValue>Changed Organization</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDR_Notes__c</field>
            <value>
                <elementReference>$Record.SDR_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Stage_Lost_Reaso</name>
        <label>Update Lead Stage &amp; Lost Reaso</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lost_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Changed Organization</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Disposition__c</field>
            <value>
                <elementReference>$Record.Call_Disposition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Stage__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_Reason__c</field>
            <value>
                <stringValue>Changed Organization</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDR_Notes__c</field>
            <value>
                <elementReference>$Record.SDR_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Contact</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>No longer with company</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>No longer with the company</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
