flows/Set_Date_Stamps_for_Contact_Status_Changes.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>X1_Lead_In_Date_Stamp</name>
        <label>1-Lead In Date Stamp</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.X1_Lead_Status_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Contact_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_Lead_Out_Date_Stamp</name>
        <label>1-Lead Out Date Stamp</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.X1_Lead_Status_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X2_Subscriber_In_Date_Stamp</name>
        <label>2-Subscriber In Date Stamp</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.X2_Subscriber_Status_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Contact_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2_Subscriber_Out_Date_Stamp</name>
        <label>2-Subscriber Out Date Stamp</label>
        <locationX>314</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.X2_Subscriber_Status_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X3_Prospect_In_Date_Stamp</name>
        <label>3-Prospect In Date Stamp</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.X3_Prospect_Status_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Contact_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X3_Prospect_Out_Date_Stamp</name>
        <label>3-Prospect Out Date Stamp</label>
        <locationX>578</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.X3_Prospect_Status_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X4_MQL_In_Date_Stamp</name>
        <label>4-MQL In Date Stamp</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.X4_MQL_Status_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Contact_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X4_MQLOut_Date_Stamp</name>
        <label>4-MQLOut Date Stamp</label>
        <locationX>842</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.X4_MQL_Status_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X5_Intro_Call_Scheduled_In_Date_Stamp</name>
        <label>5-Intro Call Scheduled In Date Stamp</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.X5_Intro_Call_Scheduled_Status_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Contact_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X5_Intro_Call_Scheduled_Out_Date_Stamp</name>
        <label>5-Intro Call Scheduled Out Date Stamp</label>
        <locationX>1106</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.X5_Intro_Call_Scheduled_Status_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X6_Intro_Call_Held_In_Date_Stamp</name>
        <label>6-Intro Call Held In Date Stamp</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.X6_Intro_Call_Held_Status_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Contact_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X6_Intro_Call_Held_Out_Date_Stamp</name>
        <label>6-Intro Call Held Out Date Stamp</label>
        <locationX>1370</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.X6_Intro_Call_Held_Status_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Current_Contact_Status</name>
        <label>Current Contact Status</label>
        <locationX>842</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Prior_Contact_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_Lead_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Lead_In_Date_Stamp</targetReference>
            </connector>
            <label>1-Lead In</label>
        </rules>
        <rules>
            <name>X2_Subscriber_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2-Subscriber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_Subscriber_In_Date_Stamp</targetReference>
            </connector>
            <label>2-Subscriber In</label>
        </rules>
        <rules>
            <name>X3_Prospect_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3-Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3_Prospect_In_Date_Stamp</targetReference>
            </connector>
            <label>3-Prospect In</label>
        </rules>
        <rules>
            <name>X4_MQL_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4-MQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4_MQL_In_Date_Stamp</targetReference>
            </connector>
            <label>4-MQL In</label>
        </rules>
        <rules>
            <name>X5_Intro_Call_Scheduled_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5-Intro Call Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X5_Intro_Call_Scheduled_In_Date_Stamp</targetReference>
            </connector>
            <label>5-Intro Call Scheduled In</label>
        </rules>
        <rules>
            <name>X6_Intro_Call_Held_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6-Intro Call Held</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X6_Intro_Call_Held_In_Date_Stamp</targetReference>
            </connector>
            <label>6-Intro Call Held In</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Contact_Status</name>
        <label>Prior Contact Status</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Not Applicable</defaultConnectorLabel>
        <rules>
            <name>X1_Lead_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Lead_Out_Date_Stamp</targetReference>
            </connector>
            <label>1-Lead Out</label>
        </rules>
        <rules>
            <name>X2_Subscriber_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2-Subscriber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_Subscriber_Out_Date_Stamp</targetReference>
            </connector>
            <label>2-Subscriber Out</label>
        </rules>
        <rules>
            <name>X3_Prospect_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3-Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3_Prospect_Out_Date_Stamp</targetReference>
            </connector>
            <label>3-Prospect Out</label>
        </rules>
        <rules>
            <name>X4_MQL_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4-MQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4_MQLOut_Date_Stamp</targetReference>
            </connector>
            <label>4-MQL Out</label>
        </rules>
        <rules>
            <name>X5_Intro_Call_Scheduled_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5-Intro Call Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X5_Intro_Call_Scheduled_Out_Date_Stamp</targetReference>
            </connector>
            <label>5-Intro Call Scheduled Out</label>
        </rules>
        <rules>
            <name>X6_Intro_Call_Held_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6-Intro Call Held</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X6_Intro_Call_Held_Out_Date_Stamp</targetReference>
            </connector>
            <label>6-Intro Call Held Out</label>
        </rules>
    </decisions>
    <description>Stamp date and time to the appropriate Date field when there is a change in Contact Status.</description>
    <environments>Default</environments>
    <interviewLabel>Set Date Stamps for Contact Status Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Date Stamps for Contact Status Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Current_Contact_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
