flows/To_Be_Determined_Lead_Source_Contacts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Source_as_Outbound_Email_Campaign</name>
        <label>Assign Source as Outbound / Email Campaign</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lead_Source_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Campaign</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>CSMsProfileID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00e6F000002243O</stringValue>
        </value>
    </constants>
    <constants>
        <name>SalesProfileID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00e6F00000223Fx</stringValue>
        </value>
    </constants>
    <constants>
        <name>SDRProfileID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00e6F00000223GC</stringValue>
        </value>
    </constants>
    <constants>
        <name>SolutionsArchitect</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00e0K000002FUu8</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AE_SDR_SA_CSM_Created_the_Contact</name>
        <label>AE/SDR/SA/CSM Created the Contact?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CreatedByProfileID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>SalesProfileID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreatedByProfileID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>SDRProfileID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreatedByProfileID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>SolutionsArchitect</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreatedByProfileID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>CSMsProfileID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Source_as_Outbound_Email_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update &apos;To Be Determined&apos; Lead Source Contacts to the relevant source (Outbound / Email Campaign).</description>
    <environments>Default</environments>
    <interviewLabel>To Be Determined Lead Source Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>To Be Determined Lead Source Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AE_SDR_SA_CSM_Created_the_Contact</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 OR 4)</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>To Be Determined</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pi__campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Created in Salesforce</stringValue>
            </value>
        </filters>
        <filters>
            <field>pi__campaign__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedByProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CreatedBy.Profile.Id</elementReference>
        </value>
    </variables>
</Flow>
