flows/Update_Lead_Contact_Call_Disposition_from_Orum_Acitivity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Lead_Contact</name>
        <label>Lead/Contact?</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Lead_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_is_Bad_Mobile_Phone</targetReference>
            </connector>
            <label>Lead &amp; Phone</label>
        </rules>
        <rules>
            <name>Lead_Mobile_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_is_Bad_Phone</targetReference>
            </connector>
            <label>Lead &amp; Mobile Phone</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_is_Bad_Mobile_Phone</targetReference>
            </connector>
            <label>Contact &amp; Phone</label>
        </rules>
        <rules>
            <name>Contact_Mobile_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_is_Bad_Phone</targetReference>
            </connector>
            <label>Contact &amp; Mobile Phone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CallDisposition</name>
        <dataType>String</dataType>
        <expression>&quot;Bad &quot; + {!$Record.SDR_Notes__c}</expression>
    </formulas>
    <interviewLabel>Update Lead/Contact Call Disposition from Orum Acitivity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Lead/Contact Call Disposition from Orum Acitivity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Contact_is_Bad_Mobile_Phone</name>
        <label>Contact is Bad Mobile Phone</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Task_Call_Disposition_for_Contact</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Call_Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bad Mobile Phone</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Disposition__c</field>
            <value>
                <stringValue>Bad Phone &amp; Bad Mobile Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDR_Notes__c</field>
            <value>
                <elementReference>$Record.SDR_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_is_Bad_Phone</name>
        <label>Contact is Bad Phone</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Task_Call_Disposition_for_Contact</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Call_Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bad Phone</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Disposition__c</field>
            <value>
                <stringValue>Bad Phone &amp; Bad Mobile Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDR_Notes__c</field>
            <value>
                <elementReference>$Record.SDR_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_is_Bad_Mobile_Phone</name>
        <label>Lead is Bad Mobile Phone</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Task_Call_Disposition_for_Lead</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Call_Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bad Mobile Phone</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Disposition__c</field>
            <value>
                <stringValue>Bad Phone &amp; Bad Mobile Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDR_Notes__c</field>
            <value>
                <elementReference>$Record.SDR_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_is_Bad_Phone</name>
        <label>Lead is Bad Phone</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Task_Call_Disposition_for_Lead</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Call_Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bad Phone</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Disposition__c</field>
            <value>
                <stringValue>Bad Phone &amp; Bad Mobile Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDR_Notes__c</field>
            <value>
                <elementReference>$Record.SDR_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Task_Call_Disposition_for_Contact</name>
        <label>Task Call Disposition for Contact</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Call_Disposition__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Disposition__c</field>
            <value>
                <elementReference>CallDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDR_Notes__c</field>
            <value>
                <elementReference>$Record.SDR_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Task_Call_Disposition_for_Lead</name>
        <label>Task Call Disposition for Lead</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Call_Disposition__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Disposition__c</field>
            <value>
                <elementReference>CallDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDR_Notes__c</field>
            <value>
                <elementReference>$Record.SDR_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Bad Phone</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
