flows/Warn_users_for_not_logging_in_80_Days.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Eighty_Day_No_Login_WArn</name>
        <label>Eighty Day No Login Warn</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_User_Note_Warning_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>You have not logged in to Salesforce for at least 80 days. Please log into Salesforce or your account will be disabled 90 days after last login. https://autorabit.my.salesforce.com/</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>andrew.schaapveld@autorabit.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Please log in to Salesforce</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check if Last Login 80 or more days ago.</description>
        <name>Check_Last_Login_Date_80</name>
        <label>Check Last Login Date 80</label>
        <locationX>446</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Login_80_Days</name>
            <conditionLogic>1 AND (2 OR 3) and 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastLoginDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Eighty_Days_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.UserLicense.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.UserLicense.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Eighty_Days_Ago</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eighty_Day_No_Login_WArn</targetReference>
            </connector>
            <label>Last Login &lt;= 80 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_last_login_greater_than_90_days_ago</name>
        <label>Check last login greater than 90 days ago.</label>
        <locationX>248</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Check_Last_Login_Date_80</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disable90</name>
            <conditionLogic>1 AND (2 OR 3) and 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastLoginDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Ninety_Days_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.UserLicense.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.UserLicense.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Ninety_Days_Ago</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate90Update</targetReference>
            </connector>
            <label>Disable90</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Eighty_Days_Ago</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-80</expression>
    </formulas>
    <formulas>
        <name>Ninety_Days_Ago</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-90</expression>
    </formulas>
    <formulas>
        <name>User80WarnNote</name>
        <dataType>String</dataType>
        <expression>TEXT(NOW()) &amp; &quot; 80 Day no log in warn. &quot;</expression>
    </formulas>
    <formulas>
        <name>User90DisableNote</name>
        <dataType>String</dataType>
        <expression>TEXT(NOW()) &amp; &quot;90 day no log in disable, &quot;</expression>
    </formulas>
    <interviewLabel>Warn users for not logging in 80 Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User warn not log in 80 days or disable 90 days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Deactivate90Update</name>
        <label>Deactivate90Update</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>User90DisableNote</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Note_Warning_Update</name>
        <label>Update User Note Warning Update</label>
        <locationX>314</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>User80WarnNote</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_last_login_greater_than_90_days_ago</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e0K000002JmOCQA0</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e6F000003lXdRQAU</stringValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-04-19</startDate>
            <startTime>03:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
